.app-container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 80rem;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 10px;
}

.logo {
    font-family: var(--ff-secular);
    font-size: var(--fs-700);
    line-height: 1;
}

.logo>span {
    display: inline-block;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-blue);
}

.contact {
    display: flex;
    gap: 2rem;
}

.contact img {
    height: 36px;
    aspect-ratio: 1;
}

.section {
    margin-top: 40px;
    text-align: center;
}

.section .heading {
    font-family: var(--ff-secular);
    font-size: var(--fs-800);    
}

.section button {
    padding: 10px 40px;
    border: none;
    appearance: none;
    font-size: var(--fs-300);
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: none;
    border-radius: 30px    
}